<!DOCTYPE html>
<html>
<head>
  <title>Hajimenoippodle</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div id="div1">
    <img src="/logo.png" alt="Logo Hajime" width="300px" draggable="false">
    <h1>Hajimenoippodle</h1>
    <a href="/quiz" class="botao-grande">JOGAR</a>
  </div>
</body>
</html>
