<!DOCTYPE html>
<html>
<head>
  <title>Quiz - Hajimenoippodle</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div id="div1">
    <h2>Quem é o treinador do Ippo?</h2>
    <input type="text" placeholder="Digite a resposta" />
    <br>
    <a href="/resultado" class="botao-grande">Responder</a>
  </div>
</body>
</html>
