<!DOCTYPE html>
<html>
<head>
  <title>Resultado - Hajimenoippodle</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div id="div1">
    <h2>Obrigado por jogar!</h2>
    <p>(A lógica será implementada depois)</p>
    <a href="/" class="botao-grande">Voltar ao início</a>
  </div>
</body>
</html>
