<!DOCTYPE html>
<html>
  <head>
    <title>Hajimenoippodle</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div id="div1">
      <img src="https://occ-0-8407-92.1.nflxso.net/dnm/api/v6/LmEnxtiAuzezXBjYXPuDgfZ4zZQ/AAAABeJtYea_40g_qmzMNJLVPmx9_objhFJCGpxG1IJriNOmP-cfV85Qqv5TzKbsWsRC2MGATu11Zl0yhW9DTSx2PA0LUcs6NTppmx0OKvBA1lYR.png?r=623" alt="HajimeLogo" width="230px" height="100px" draggable="false">
    </div>

    <p></p>
  </body>
</html>
